body{
    margin: auto;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.body-1 img{
    width: 100%;
}
#avatar{
    width: 180px;
    border-radius: 100%;
    margin-top: -55px;
    border: 8px solid white;
}
.profile-wrapper{
    display: flex;
}
.profile-wrapper h1 {
    color: #0a0044;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 15px;
}
.profile-wrapper p {
    color: #0a0044;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.location-wrapper{
    display: flex;
    justify-content: stretch;
}
.location-wrapper span {
    color: #868BA6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.detail-wrapper{
    margin-left: 15px;
    display: flex;
}
.facebook-wrapper{
    display: flex;
    justify-content: stretch;
    margin-left: 20px;
}
.facebook-wrapper span {
    color: #868BA6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
.instagram-wrapper{
    display: flex;
    justify-content: stretch;
    margin-left: 20px;
}
.instagram-wrapper span {
    color: #868BA6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
.about h2{
    color: #0a0044;
    margin-left: 215px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about p{
    color: #0a0044;
    margin-left: 215px;
    font-size: 15px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about button{
    width: 180px;
    height: 56px;
    margin-left: 215px;
    margin-top: 20px;
    background: #ed3eb3;
    border-style: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-block;
}